<div class="lk-leftside-menu">
  <ul class="list-group">
    <li class="list-group-item active sizeli">Личный кабинет</li>
    <li class="list-group-item sizeli">Мои задачи</li>
    <li class="list-group-item sizeli">Поиск задач</li>
    <li class="list-group-item sizeli">Настройки</li>
    <li class="list-group-item sizeli">Выйти</li>
  </ul>
</div>
<div class="lcprofile">
  <div class="lox">
  <form class="nick">NazwayDen</form>
 <form class="counttask">Couttask</form>
<form class="donetask">donetyask</form> 
</div>
</div>
<div class="lccentre-task">
  <ul class="list-group">
    <li class="list-group-item centretask-first">Мои задачи</li>
    <li class="list-group-item centretask-first">Мои задачи</li>
    <li class="list-group-item centretask-first">Мои задачи</li>
    <li class="list-group-item centretask-first">Мои задачи</li>
  </ul>
</div>
<div class="lk-rightside-menu">
  
 
 
</div>