<div class="lk-main-container">
  <div class="lk-profile">
    <div class="lk-profile-info">
      <div class="avatar">
        <img
          src="https://habrastorage.org/getpro/habr/post_images/6ed/d94/57e/6edd9457ec4ef14fd413377a3cfb0fb4.png"
        />
      </div>
      <div class="info">
        <div class="nickname">Denis</div>
        <div class="stats">
          <div class="all-tasks">
            <span> All tasks: {{ allTask }} </span>
          </div>
          <div class="copleted-tasks stat">
            <span> Completed tasks: {{ completeTask }} </span>
          </div>
          <div class="my-tasks stat">
            <span> My tasks: {{ myTask }} </span>
          </div>
        </div>
      </div>
    </div>
    <div class="lk-math-table">
      <div class="filtr">
        <button type="button" class="btn btn-outline-dark">All Task</button>
        <button type="button" class="btn btn-outline-primary">My Task</button>
        <button type="button" class="btn btn-outline-primary">Completed tasks</button>
        <button type="button" class="btn btn-outline-primary">Favorite</button>
        <button type="button" class="btn btn-outline-primary">In Process</button>
        
      </div>
      <div class="table-navigation">
        <div class="input-group">
          <input
            type="search"
            class="form-control rounded"
            placeholder="Search"
            aria-label="Search"
            aria-describedby="search-addon"
          />
          <button type="button" class="btn btn-outline-primary">search</button>
        </div>
      </div>
      <div class="math-table">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" class="maintabl">#</th>
              <th scope="col" class="maintabl">Name</th>
              <th scope="col" class="maintabl">ShortDescrtiption</th>
              <th scope="col" class="maintabl">Status</th>
              <th scope="col" class="maintabl">Author</th>
              <th scope="col" class="maintabl">Rating</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of taskarray">
              <td>
                {{ task.id }}
              </td>
              <td>
                {{ task.name }}
              </td>
              <td>
                {{ task.shortDescription }}
              </td>
              <td>
                {{ task.status }}
              </td>
              <td>
                {{ task.creatorUser.nickname }}
              </td>
              <td>
                {{ task.rating }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="math-table-pag">
        <nav aria-label="...">
          <ul class="pagination">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
                >Previous</a
              >
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
              <a class="page-link" href="#"
                >2 <span class="visually-hidden"></span
              ></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
