<div>
  <div class="newTask">
    <form>
      <div class="form-group">
        <label for="formGroupExampleInput">Тема</label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput"
          placeholder="Example input"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Описание</label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput2"
          placeholder="Another input"
        />
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Условие</label>
        <input
          type="text"
          class="form-control"
          id="formGroupExampleInput2"
          placeholder="Another input"
        />
      </div>
    </form>
    <!--<div class="language">
      <form action="">
        <select name="" id="">
          <option value="" disabled>Язык</option>
          <option value="">Русский</option>
          <option value="">Английский</option>
        </select>
      </form>
    </div>-->
    <div class="tagVari">
      <div class="tag">
        <div class="onlyTag">
          <form>
            <div class="form-group">
              <div class="tagHeader">
                <label for="formGroupExampleInput">#Тег</label>
                <div class="btntag">
                  <button
                    type="button"
                    class="btn btn-primary add-tag"
                    (click)="createNewTag()"
                  >
                    +
                  </button>
                </div>
              </div>
              <div class="newForm" *ngFor="let item of tags">
                <input
                  type="text"
                  class="form-control tagI"
                  placeholder="Example input"
                  value="{{ item }}"
                  (change)="oonChangeTextTags(item)"
                />
                <div class="minus">
                  <button
                    type="button"
                    class="btn btn-primary save"
                    (click)="minusTag(item)"
                  >
                    -
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="vari">
        <div class="onlyVari">
          <form>
            <div class="form-group">
              <div class="variHeader">
                <label for="formGroupExampleInput">Варианты</label>
                <div class="btnvari">
                  <button
                    type="button"
                    class="btn btn-primary save"
                    (click)="createNewAnswer()"
                  >
                    +
                  </button>
                </div>
              </div>
              <div class="newForm" *ngFor="let item of answer">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Example input"
                  value="{{ item }}"
                  (change)="oonChangeTextTags(item)"
                />
                <div class="minus">
                  <button
                    type="button"
                    class="btn btn-primary save"
                    (click)="minusVari(item)"
                  >
                    - 
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="btnsave">
      <button type="button" class="btn btn-primary save">Сохранить</button>
    </div>
  </div>
</div>
