<div class="lk-leftside-menu">
  <div class="list-group">
    <button type="button" class="btn btn-outline-primary  sizeli" [routerLink]="['/lk']" routerLinkActive="router-link-active">
      Личный кабинет
    </button>
    <button type="button" class="btn btn-outline-primary sizeli" [routerLink]="['/create-task']" routerLinkActive="router-link-active" >Создать задачу</button>
    <button type="button" class="btn btn-outline-primary sizeli" [routerLink]="['/search-task']" routerLinkActive="router-link-active" >Поиск задач</button>
    <button type="button" class="btn btn-outline-primary sizeli">Настройки</button>
    <button type="button" class="btn btn-outline-primary sizeli" >Выйти</button>
  </div>
</div>
