.all{
    display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.searchTable{
    width: 70%;
}
.sort{
    margin-top: 20px;
}
.language{
    margin-top: 20px;
    
}
.pag{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tags{
    margin-top: 20px;
    margin-left: 0%;
}
.filtrs{
    display: flex;
  flex-direction: column;
}